.root
{
    -fx-background-color: #FFC0CB;

}

.button {
    -fx-background-color: linear-gradient(to bottom right,#DCDCDC , #5F9EA0);

}
.number-button
{
    -fx-font-size: 25px;
    -fx-font-weight: bold ;

}
.operator-button
{
    -fx-font-size: 25px;

}


